## Brian Whiteley D208 Task 1

#### Import libraries

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

#### Read csv

In [3]:
df = pd.read_csv('churn_clean.csv', index_col= 'CaseOrder')

## Data Cleaning

In [4]:
df.rename(columns = {
    'Item1':'TIMELY_RESPONSE',
    'Item2':'TIMELY_FIXES',
    'Item3':'TIMELY_REPLACEMENTS',
    'Item4':'RELIABILITY',
    'Item5':'OPTIONS',
    'Item6':'RESPECTFUL_RESPONSE',
    'Item7':'COURTEOUS_EXCHANGE',
    'Item8':'ACTIVE_LISTENING'},
    inplace=True)

#### List columns

In [5]:
df.columns

Index(['Customer_id', 'Interaction', 'UID', 'City', 'State', 'County', 'Zip',
       'Lat', 'Lng', 'Population', 'Area', 'TimeZone', 'Job', 'Children',
       'Age', 'Income', 'Marital', 'Gender', 'Churn', 'Outage_sec_perweek',
       'Email', 'Contacts', 'Yearly_equip_failure', 'Techie', 'Contract',
       'Port_modem', 'Tablet', 'InternetService', 'Phone', 'Multiple',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod',
       'Tenure', 'MonthlyCharge', 'Bandwidth_GB_Year', 'TIMELY_RESPONSE',
       'TIMELY_FIXES', 'TIMELY_REPLACEMENTS', 'RELIABILITY', 'OPTIONS',
       'RESPECTFUL_RESPONSE', 'COURTEOUS_EXCHANGE', 'ACTIVE_LISTENING'],
      dtype='object')

#### Drop columns that are not needed

In [6]:
drop_columns = ['Customer_id', 'Interaction','UID','City','State','County',
                'Zip','Lat','Lng','Population','Area','TimeZone','Job','Marital',
                'Gender','Email','Outage_sec_perweek','Contacts', 
                'Yearly_equip_failure','Contract', 'TechSupport',
                'PaperlessBilling','PaymentMethod','TIMELY_RESPONSE',
                'TIMELY_FIXES','TIMELY_REPLACEMENTS','RELIABILITY','OPTIONS',
                'RESPECTFUL_RESPONSE','COURTEOUS_EXCHANGE','ACTIVE_LISTENING']
df.drop(columns=drop_columns, inplace=True)

#### Check for nulls

In [7]:
df.isna().sum().sum()

2129

#### Drop null rows

In [8]:
df.dropna(inplace=True)

In [11]:
categorical_columns = df.select_dtypes(include="object").columns
df = pd.get_dummies(df, columns = categorical_columns)
df

,Children,Age,Income,Tenure,MonthlyCharge,Bandwidth_GB_Year,Churn_No,Churn_Yes,Techie_No,Techie_Yes,...,OnlineSecurity_No,OnlineSecurity_Yes,OnlineBackup_No,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_Yes,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes
CaseOrder,,,,,,,,,,,,,,,,,,,,,
1,0,68,28561.99,6.795513,172.455519,904.536110,True,False,True,False,...,False,True,False,True,True,False,True,False,False,True
2,1,27,21704.77,1.156681,242.632554,800.982766,False,True,False,True,...,False,True,True,False,True,False,False,True,False,True
3,4,50,9609.57,15.754144,159.947583,2054.706961,True,False,False,True,...,True,False,True,False,True,False,True,False,False,True
4,1,48,18925.23,17.087227,119.956840,2164.579412,True,False,False,True,...,False,True,True,False,True,False,False,True,True,False
5,0,83,40074.19,1.670972,149.948316,271.493436,False,True,True,False,...,True,False,True,False,True,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,3,23,55723.74,68.197130,159.979400,6511.252601,True,False,True,False,...,True,False,False,True,False,True,True,False,True,False
9997,4,48,34129.34,61.040370,207.481100,5695.951810,True,False,True,False,...,False,True,False,True,False,True,False,True,True,False
9998,1,48,45983.43,47.416890,169.974100,4159.305799,True,False,True,False,...,False,True,False,True,True,False,True,False,True,False
9999,1,39,16667.58,71.095600,252.624000,6468.456752,True,False,True,False,...,True,False,True,False,True,False,False,True,False,True
10000,1,28,9020.92,63.350860,217.484000,5857.586167,True,False,True,False,...,False,True,False,True,False,True,True,False,False,True